html,
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	overflow: hidden;
}

div.nav-app button.btn {
	border-radius: 50%;
	width: 46px;
	height: 46px;
	margin-bottom: 5px;
}

.btn-bottom {
	position: absolute;
	width: 100%;
	bottom: 10px;
}

.nav-app {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 64px;
	background-color: #f4f5f7;
	border-right: 1px solid #dfe1e6;
	padding: 8px;
}

.main-app {
	position: absolute;
	top: 0px;
	left: 64px;
	right: 0px;
	bottom: 0px;
	background-color: #fff;
	padding: 20px 20px 0px 20px;
}

.breadcrumb {
	background-color: #fff;
	margin-bottom: 0px;
	padding: 5px 0px 5px 0px;
}

nav > i.fa.fa-folder {
	float: left;
	margin-top: 16px;
	margin-right: 10px;
}

.breadcrumb.breadcrumb-folder {
	float: left;
	font-size: 16px;
	margin-top: 10px;
}

a:link,
a:hover,
a:active,
a:visited {
	color: #000;
}

h4 {
	font-size: 23px;
	margin-bottom: 10px
}

p {
	margin-top: 1.2rem;
}

.combo-branch {
	width: 250px;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
	color: #212529;
	background-color: rgba(0, 0, 0, 0.04);
}

.table th {
	white-space: nowrap;
	padding: .75rem 1.4rem .20rem 0rem;
	border-top: none;
}

.table td {
	white-space: nowrap;
	padding: .75rem 1.4rem .75rem 0rem;
	border-top: none;
}

i.fa.fa-folder,
i.fa.fa.fa-file-text-o,
i.fa.fa-file-o,
i.fa.fa-folder-open-o,
i.fa.fa-product-hunt,
i.fa.fa-floppy-o,
i.fa.fa-exchange {
	margin-right: 10px;
	font-size: 22px
}

.th-1, .td-1 {
	width: 1%;
}
.th-10, .td-10 {
	width: 10%;
}
.th-20, .td-20 {
	width: 20%;
}
.th-30, .td-30 {
	width: 30%;
}
.th-40, .td40 {
	width: 40%;
}
.th-50, .td-50 {
	width: 50%;
}
.txt-r {
	text-align: right;
}

.dropdown-toggle::after {
    display: none;
}
.dropleft .dropdown-toggle::before {
	display: none;
}

.ico-rotate-90 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.ico-rotate-180 {
-webkit-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}

  .mdi {
	  font-size: 2rem;
  }

  tbody tr td span {
	position:relative; 
	margin-left:10px; 
	top:-8px;
  }

.topbar {
	position: absolute;
	top: 145px;
	left: 20px;
	height: 53px;
	right: 15px;
	background-color: #f4f5f7;
	border: 1px solid #dfe1e6;
}

.topbar div.topbar-title {
	float: left;
	padding: 15px;
}

.topbar div.topbar-buttons {
	float: right;
	padding: 9px;
}

#editor,
#container{
	position: absolute;
	top: 197px;
	left: 20px;
	bottom: 20px;
	right: 15px;
	border: 1px solid #dfe1e6;
}

.btn-light {
	background-color: #F4F5F7;
	border: 1px solid #F4F5F7;
}

/*--------------*/
aside {
	position: absolute;
	background-color: #F4F5F7;
	top: 0px;
	bottom: 0px;
	width: 82px;
	border-right: 1px solid #dfe1e6;
}

.btn-aside-menu {
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 4px 0px 0px 4px;
    color: #7d838f;
    background-color: #fff;
    border-color: #cacbce;
    border-radius: 3px;
}

.btn-aside-menu:hover,
.btn-aside-menu:active,
.btn-aside-menu:focus {
    color: #FFF;
    background-color: #cacbce;
    border-color: #cacbce;
    margin: 4px 0px 0px 4px;
}

.btn-active {
    color: #FFF;
    background-color: #cacbce;
    border-color: #cacbce;
    margin: 4px 0px 0px 4px;
}

.asise-separator {
    display: block;
    margin-top: 5px;
    width: 100%;
    font-size: 11px;
    color: #CFD2DA;
    text-align: center;
}

main {
    position: absolute;
    top: 0px;
    left: 82px;
    right: 0px;
    bottom: 0px;
    background-color: #f2f4f8;
}

main.expand {
    right: 0px;
}

.main-ruler {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 15px;
    background: #fff;
	border-bottom: 1px solid #dfe1e6;
}

.rule-dash {
    float: left;
	color: #000;
}

div.main-ruler div.col-md-1 {
    text-align: right;
    font-size: 9px;
    /*color: #FFF;*/
    margin-bottom: 10px;
    border-right: 1px dashed #dfe1e6;
}

.main-content {
    position: absolute;
    margin: 5px 0 0px 0;
    padding-top: 10px;
    padding-bottom: 30px;
	top: 10px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #FFF;
    overflow: auto;
}

.main-content::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 12px;
}

.main-content::-webkit-scrollbar-track {
    background: #F1F1F1;
    border-radius: 12px;
}

.main-content::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #C1C1C1;
    border: 3px solid #F1F1F1;
    cursor: pointer;
}

.main-content::-webkit-scrollbar-corner {
    background: #C1C1C1;
}

div.main-content.container-fluid.edit div.row,
div.main-content.container-fluid.edit [class*="col-md-"],
div.main-content.container-fluid.edit form,
div.main-content.container-fluid.edit .form-group,
div.main-content.container-fluid.edit .panel-body {
    margin-top: 7px;
    margin-bottom: 7px;
    border: 2px dashed rgb(233, 232, 232);
    min-height: 60px;
    background: #FFFFFF;
}

div.main-content.container-fluid.edit [class*="radio"],
div.main-content.container-fluid.edit [class*="checkbox"] {
    border: 1px dashed #B3B3B3;
    background: #FFFFFF;
    padding-top: 7px;
    padding-bottom: 7px;
}

div.main-content.container-fluid .active {
    border: 1px dashed orangered !important;
    background: #FFFFCC !important;
}

.hilight {
    background: #D4FFDD !important;
}

li.list-group-item {
	background: #f4f5f7;
}

.btn-outline-secondary {
    color: #6c757d;
	border-color: #ced4da;
}

.btn-outline-secondary:hover {
	background: #ced4da;
	border-color: #ced4da;
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: none;
}