html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
main.central {
    float: left;
    width: 100%;
    height: calc(100vh - 160px);
    z-index: 1000;
    margin-bottom: 10px;
}

aside.left {
    float: left;
    width: 200px;
    height: calc(100vh - 160px);
    background: #F5F5F5;
    border: 1px solid red;
}
section.top {
    width: 100%;
    height: calc(40vh - 64px);
    z-index: 1001;
    border: 1px solid green;
}
section.top div.content {
    position: absolute;
    left: 200px;
    width: calc(100vw - 200px);
    height: calc(40vh - 64px);
    background-color: cyan;
    overflow-y: auto;
}
section.bottom {
    width: 100%;
    height: calc(60vh - 96px);
    z-index: 1002;
    border: 1px solid blue;
}

section.bottom div.tab-content div.tab-pane {
    height: calc(60vh - 140px);
    border: 1px solid yellow;
    overflow-y: auto;
}